.infobox {
/** text with picture **/
    display: flex;
    justify-content: center;
    margin-top: 40px;
    min-width: 600px;
}

    .img-profile-picture {
    /** png **/
        display: flex;
        width: 100px;
        margin-right: 50px;
    }

        .profile-picture {
        /** div **/
            display: flex;
            align-items: center;
        }

    .infobox-textblock {
    /** everything besides the profile picture **/
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
   
        }
        .textblock-line1 {
            /* techstarter, Folgen, Nachricht senden, *** */
            display: flex; 
            align-items: center;
            margin-bottom: 10px;
        }

            .profile-name {
                font-size: 20px;
                margin: 0; 
                margin-right: 10px;
            }

            .settings {
                border-style: none;
                background-color: white;
                font-weight: 700;
            }

            .follow, .message {
                padding: 5px 20px;
                border-style: none;
                border-radius: 8px;
            }

            .follow, .message, .settings {
                margin: 8px;
                font-size: 14px;
            }

        .textblock-line2 {
            /* Beiträge, Follower, Gefolgt */
            display: flex; 
            align-items:start;
            font-size: 14px;
        }

            .line2-element {
                /* Beiträge, Follower, Gefolgt */
                border-style: none;
                background-color: white;
                margin-right: 30px;
                font-weight: 500;
            }

        .biography {
            display: flex;
            flex-direction: column;
        }

            .line3-element {
                font-size: 10px;
                font-weight: 300;
            }

            .bio-line1 {
                display: flex;
                margin: 15px 0;
                font-weight: 500;
            }    

            .bio-line2 {
                display: flex;
                margin: 2px;
                margin-top: 2px;
            }

.adress, .linkr{
    margin: 2px;
    text-decoration: none;  
}   

.linkr {
    color: rgb(0, 149, 246);  
}

/* hover effects */
.follow:hover, 
.message:hover, 
.settings:hover, 
.line2-element:hover, 
.linkr:hover {
    cursor: pointer;
}