:root {
    --blue: rgb(0, 149, 246); 
}

header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.header-buttons-right {
    width: 200px;
    display: flex;
    justify-content: space-around; 
    }

    .home-button {
        font-size: 25px;
        font-weight: bold;
        font-family: Cookie;
        background-color: white;
        border-style: none;

        display: flex;
        flex: 1;
    }

    .login, .signup {
        font-size: 14px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
        font-weight: 500;
    }

    .login {
        color: white;
        background-color: rgb(0, 149, 246);
        border-style: none;
        border-radius: 7px;
        padding: 5px 12px;
    }

    .signup {
        color: rgb(0, 149, 246);
        background-color: white;
        border-style: none;
        margin-left: 10px;
    }

.home-button:hover, .login:hover, .signup:hover {
    cursor: pointer;
}


