:root {
    --blue: rgb(0, 149, 246); 
}


.infobox {
/** text with picture **/
    display: flex;
    justify-content: center;
    margin-top: 40px;
    min-width: 600px;
    margin-left: 20px;
    margin-right: 20px;
}

    .file-profile-picture {
    /** png **/
        display: flex;
        width: 100px;
    }

        .profile-picture {
        /** div **/
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        }

    .infobox-text-section {
    /** everything besides the profile picture **/
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
   
        }
        .interact {
            /* techstarter, Folgen, Nachricht senden, *** */
            display: flex; 
            align-items: center;
            margin-bottom: 10px;
        }

            .profile-name {
                font-size: 18px;
                margin: 0; 
                margin-right: 10px;
            }

            .settings {
                border-style: none;
                background-color: white;
                font-weight: 700;
            }

            .follow, .message {
                background-color: rgba(139, 139, 139, 0.241);
                padding: 5px 20px;
                border-style: none;
                border-radius: 8px;
            }

            .follow, .message, .settings {
                margin: 8px;
                font-size: 14px;
            }

        .activity {
            /* Beiträge, Follower, Gefolgt */
            display: flex; 
            align-items:start;
            font-size: 14px;
        }

            .posts, .follower, .following {
                border-style: none;
                background-color: white;
                margin-right: 30px;
                font-weight: 500;
            }

        .biography {
            display: flex;
            flex-direction: column;
        }

            .text-biography {
                font-size: 10px;
                font-weight: 300;
            }

            .bio-line1 {
                display: flex;
                margin: 15px 0;
                font-weight: 500;
            }    

            .bio-line2 {
                display: flex;
                margin: 2px;
                margin-top: 2px;
                color: rgba(139, 139, 139, 0.834);
                font-weight: 300;
            }

.adress {
    color: rgba(139, 139, 139, 0.834);
    margin: 2px;
    text-decoration: none;  
    font-weight: 300;
}   

.linkr {
    color: var(--blue);  
    margin: 2px;
    text-decoration: none;
}

/* hover effects */
.follow:hover, 
.message:hover, 
.settings:hover, 
.posts:hover, 
.follower:hover, 
.following:hover, 
.linkr:hover {
    cursor: pointer;
}